header {
    background: linear-gradient(rgb(43, 99, 109), rgb(26, 161, 155));
    height: 55px;
    width: 98%;
    left: 1%;
    border: 2px solid #062033;
    color: #fff;
    position: absolute;
    top: 1%;
}

header p {
    padding: 10px 0 0 25px;
    font-size: 18px;
    vertical-align: top;
    display: inline-block;
}

header img {
    height: 80%;
    padding-top: 5px;
    padding-left: 17px;
    width: 75px;
}

body {
    height: 200px;
    width: 200px;
    background-image: url('/../img/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    font: 13px Helvetica, Arial;
    height: 100vh;
}

#formChat {
    display: block;
    margin-top: 0em;
    background: rgb(32, 32, 32);
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top-style: solid;
    border-top-width: 7px;
    border-bottom-style: solid;
    border-bottom-width: 7px;
    overflow: auto;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    text-align: center;
}

#formChat input {
    color: white;
    padding-left: 30px;
    background: rgb(81, 83, 83);
    padding: 5px;
    width: 280px;
    border-radius: 25px;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    outline: none;
    border: none;
}

#formChat button {
    width: 80px;
    background: rgb(51, 243, 250);
    border-radius: 25px;
    padding: 10px;
    margin-left: 2%;
}

#displayChat {
    color: #fff;
    padding: 10px 0 0 10px;
    height: calc(100vh - 178px);
    width: calc(100% - 20px);
    overflow-y: scroll;
    margin: 25px 0 10px 10px;
    top: 50px;
    position: absolute;
    line-height: 0.81;
}

.displayli {
    margin: 10px auto 10px 10px;
    text-align: left;
    background: linear-gradient(rgb(114, 74, 23), rgb(214, 161, 61));
    border-radius: 10px;
    padding: 10px 10px 12px;
    color: #fff;
    width: 40%;
    list-style: none;
}

p {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 1.2em;
}

.ownli {
    text-align: left;
    background: linear-gradient(rgb(43, 99, 109), rgb(26, 161, 155));
    margin: 10px 10px 10px auto;
    padding: 10px 10px 12px;
    border-radius: 10px;
    color: #fff;
    width: 40%;
    list-style: none;
}